@page "/words-test"
@inherits Words_test_razor

@if (MainWord != null)
{
    <div class="container">
        <div class="row  d-flex justify-content-center  mb-4">

            <div class="col-6  main-word alert-@mainWordStyle">
                <span class="">@MainWord.WordText</span>
            </div>

        </div>

        <div class="row d-flex justify-content-center">
            @for (int i = 0; i < 4; i++)
            {
                <SelectedWord MainWord="MainWord" TestWord="Words[i]" ResultStyle="@resultStyle" styleMainWord="ChangeStyleMainWord"></SelectedWord>
            }

        </div>

        <div class="row ">
            <div class="col-6">
            </div>
            <div class="col-6 text-center">
                <button class="btn-for-test " @onclick="ShowHint">?</button>
                <button class="btn-for-test " @onclick="ResetWord">Next test</button>
            </div>
        </div>
    </div>

    @if (!String.IsNullOrEmpty(NotificationText))
    {
        <Notification @ref="Notification" Text="@NotificationText" StyleType="@NotificationType" DisplayNotification="@DisplayNotification"></Notification>
    }
}